.h1 {
    color: #3b2e25; 
    background-color: #ab9982;
    text-align: center;
    font-size: 54px;
}

.h2 {
    color: #3b2e25;
    background-color: #ab9982;
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    }