.h1 {
    color:#23542b;
    background-color: rgb(159, 182, 119);
    text-align: center;
    font-size: 54px;
}

.h2 {
    color: #23542b;
    background-color: rgb(159, 182, 119);
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    }